@font-face {
  font-family: "Game";
  src: url("../public/fonts/game.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --background-mobile: #f5f5f5;
  --text-primary: #232323;
  --text-secondary: #ffbd07;
  --label: rgba(0, 0, 0, 0.1);
  --label-secondary: rgba(255, 189, 7, 0.3);
  --soft: #333;
  --transparent-label: rgba(255, 255, 255, 0.2);
}

[data-theme="dark"] {
  --background: #0c0e0d;
  --background-mobile: #181c1a;
  --text-primary: #ffffff;
  --label: rgba(255, 255, 255, 0.1);
  --soft: #444;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.close-overflow {
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  opacity: 0.75;
}
